In [2]:
import pandas as pd
import numpy as np

In [15]:
dfb = pd.DataFrame({'a': ['o_ne', 'on_e', 't_wo', 'th_ree_', '_tw_o_', 'one', 'six'],
                    'c': np.arange(7)})
dfb

         a  c
0     o_ne  0
1     on_e  1
2     t_wo  2
3  th_ree_  3
4   _tw_o_  4
5      one  5
6      six  6

In [16]:
dfb['a'] = dfb['a'].apply(lambda x: x.replace('_', ''))
dfb

       a  c
0    one  0
1    one  1
2    two  2
3  three  3
4    two  4
5    one  5
6    six  6

In [49]:
dfb['c'] = dfb['c'].apply(lambda x:(x + 200))
dfb

       a    c
0    one  800
1    one  801
2    two  802
3  three  803
4    two  804
5    one  805
6    six  806

In [54]:
dfb2 = dfb['c']
dfb2

0    800
1    801
2    802
3    803
4    804
5    805
6    806
Name: c, dtype: int64

In [47]:
dfb['c'].apply(lambda x:(x + 200))

0    600
1    601
2    602
3    603
4    604
5    605
6    606
Name: c, dtype: int64

In [60]:
qq = dfb2[dfb2 == 805]
qq

5    805
Name: c, dtype: int64

In [ ]:
qq.to_list()

In [31]:
# двойной индекс
dfmi = pd.DataFrame([list('abcd'),
                     list('efgh'),
                     list('ijkl'),
                     list('mnop')],
                    columns=pd.MultiIndex.from_product([['one', 'two'], ['first', 'second']]))
dfmi

    one          two
  first second first second
0     a      b     c      d
1     e      f     g      h
2     i      j     k      l
3     m      n     o      p

In [28]:
dfmi['one']['second']

0    b
1    f
2    j
3    n
Name: second, dtype: object

In [30]:
dfmi.loc[:, ('one', 'second')]

0    b
1    f
2    j
3    n
Name: (one, second), dtype: object

In [62]:

a = ['dsf_fsdf', '_dfsd_fgg_']
a

['dsf_fsdf', '_dfsd_fgg_']

In [72]:
from module.globals import *
sheet_name = 'ПИФ'
df_pifID = pd.read_excel(dir_shablon+fileID, sheet_name=sheet_name, header=None)
pifID = list (df_pifID[0].to_list())[1:]

['ЗПИФ_РПИ',
 'ЗПИФ_АРС Капитал',
 'ЗПИФ_Дон',
 'ЗПИФ_Азов',
 'ЗПИФ_Центр',
 'ЗПИФ_Кубань',
 'ЗПИФ_ЦентрДев',
 'ЗПИФ_ВостокКапитал']